body, html{
 height: 100%;
 margin: 0;
  
}

.block {
  padding: 1%;
  width: 80%;
}

.Omni-block{
	padding: 10%;
	opacity: 0.8;
}
/* ------------------------------------------------------------------------------
   Images
-------------------------------------------------------------------------------*/

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5{
  position: relative;
  
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}


.bgimg-1 {
  background: url(../img/ramon.jpg) center center no-repeat fixed;
  min-height: 100%;
  background-size: 100%;
}

.bgimg-2 {
  background-image: url(../img/img2.jpg) ;
  min-height: 400px;
}

.bgimg-3 {
  background-image: url(../img/img3.jpg) ;
  min-height: 100%;
  background-size: 100%;
  box-shadow:  0.00px 1.00px 25px 4px rgba(0,204,255,0.5);
}

.bgimg-4 {
  /*background-image: url(../img/img4.jpg);*/
  background-color: black;
  min-height: 100%;
  background-size: 100%;
  box-shadow:  0.00px 1.00px 25px 4px rgba(0,0,0,0.5);
  
}

.bgimg-5 {
  background-image: url(../img/img5.jpg);
  min-height: 100%;
  background-size: 100%;
  padding: 5%;
}

.img-circle {
    border-radius: 50%;
     width: 30em;
 	height: auto;
 	background-size: cover;
 	display: block;
 	box-shadow:  0.00px 1.00px 25px 4px rgba(47,46,46,0.3);
}
/* ------------------------------------------------------------------------------
   Pages
-------------------------------------------------------------------------------*/
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.pageChris{
	color: #777;
	background-color:white;
	text-align:center;
	padding:50px 80px;
	border:0px solid rgba(255, 255, 255, 1);
	background-color:rgba(255, 255, 255, 1);
	border-radius:0;  
	box-shadow:0.00px 1.00px 25px 4px rgba(47,46,46,0.3);	
}

.pageEducation {
  	color: #777;
	background-color:white;
	text-align:center;
	padding:50px 80px;
	border:0px solid rgba(255, 255, 255, 1);
	background-color:rgba(255, 255, 255, 1);
	border-radius:0;  
	box-shadow:0.00px 1.00px 25px 4px rgba(47,46,46,0.3);
 
}

.eduBoxes {
	padding: 2%;
	border-radius: 15px;
    width: 100%;
 	height: auto;
 	background-size: cover;
 	display: block;
 	box-shadow:  0.00px 1.00px 25px 4px rgba(255,255,255,0.5);
 	background-color: white;
 	margin: 5%;
 	font-size: 1.5em;
 	text-align: justify;


}

.pageExp {
  	color: #777;
	background-color:white;
	text-align:center;
	padding:50px 80px;
	border:0px solid rgba(255, 255, 255, 1);
	background-color:rgba(255, 255, 255, 1);
	border-radius:0;  
	box-shadow:0.00px 1.00px 25px 4px rgba(47,46,46,0.3);
	background-color: white;
 	
 
}

.expBoxes {
	padding: 2%;
	border-radius: 15px;
    width: 100%;
 	height: auto;
 	background-size: cover;
 	display: block;
 	box-shadow:  0.00px 1.00px 25px 4px rgba(255,255,255,0.5);
 	background-color: white;
 	margin: 5%;
 	font-size: 1.5em;
 	text-align: justify;
 	background-color: white;

}
.pageSkills{
	padding: 5%;
	color: white;
}




.pageContact {
  	
	background-color:white;
	text-align:center;
	
	border:0px solid rgba(255, 255, 255, 1);
	background-color:rgba(255, 255, 255, 1);
	border-radius:15px;  
	box-shadow:  0.00px 1.00px 25px 4px rgba(255,255,255,0.5);
	background-color: white;
	
 	
 
}

.item {
	
  
  position: absolute;
  top: 2500px;
  margin-right: auto;
  margin-left: auto;
  left: 50%;
              
}

.path2 {
  stroke-dasharray: 580;
/*   stroke-dashoffset: 800; */
  animation: draw1 6s ease-out reverse;
}

@keyframes draw1 {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1120;
  }
}

:root {
  --color-1: forestgreen;
  --color-2: lightskyblue;
  --color-3: darksalmon;
  --color-4: palegoldenrod;
  --color-5: mediumvioletred;
}

.foo {
  min-height: 33vh;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  text-transform: uppercase;
}



/* apply colors */
.foo-1 {
  background-color: var(--color-1);
}

.foo-2 {
  background-color: var(--color-2);
}

.foo-3 {
  background-color: var(--color-3);
}

.foo-4 {
  background-color: var(--color-4);  
}

.foo-5 {
  background-color: var(--color-5);
}



/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.contact_container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* ------------------------------------------------------------------------------
   Contact
-------------------------------------------------------------------------------*/
 
.contact h2 {
	margin-bottom: 1.5em;

	font-weight:700;
	font-size:27px;
	text-transform:uppercase;
	letter-spacing:3px;
}
.contact-form {

	border-radius: 15px;
	text-align:center;
	
    background-color: white;
    padding: 2%;
}



.contact-form .form-control {
	border-color: #b3b3b3;
	margin-bottom: .75em;
	padding: .75em 5px;
}
.contact-form label.error {
	margin-bottom: 12px;
	font-weight: 300;
	color: #ea5050;
}
.contact .btn-default {
	width: 100%;
	color: #b3b3b3;
	border-color: #b3b3b3;
	font-family: font97579;
	
}
/* ------------------------------------------------------------------------------
   contact Form Validation
-------------------------------------------------------------------------------*/
   

.contact-form label.error i {
	padding-right: 8px;
}
.success-cf, .error-cf {
	display: none;
}
.success-cf p {
	background: rgba(39, 174, 96, 0.7);
}
.error-cf p {
	background: rgba(231, 76, 60, 0.7);
}
.contact-form {
	position: relative;
}
.contact-form .success-cf p, .contact-form .error-cf p {
	position: absolute;
	display: block;
	top: 40%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
	color: #fff;
	border-radius: 2px;
	padding: .75em;
}

/* ------------------------------------------------------------------------------
   Skills
-------------------------------------------------------------------------------*/



.SkillColumn
{
    
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
   vertical-align: middle;
    
}

   


.barAdvanced{
  width: 70%;
 
  margin-bottom: 10px;
  padding: 5px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    border-radius: 15px; 
    background: linear-gradient(to right, #5353ac , #babade);
	font-weight: bold;
    box-shadow:  0.00px 1.00px 25px 4px rgba(153,194,255,0.3);
	
}

.barIntermediate{
  width: 50%;
 
  margin-bottom: 10px;
  padding: 5px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    border-radius: 15px;
    background: linear-gradient(to right, #3333ff , #babade);
	font-weight: bold;
    box-shadow:  0.00px 1.00px 25px 4px rgba(153,194,255,0.3); 
	
}

.barBasic{

  width: 30%;
 
  margin-bottom: 10px;
  padding: 5px;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    border-radius: 15px; 
    background: linear-gradient(to right, #00ccff , #babade);
	font-weight: bold;
    box-shadow:  0.00px 1.00px 25px 4px rgba(153,194,255,0.3);
	
}

.logos{
	width: 1.5em;
	

}


.logos:hover  {
    filter: brightness(0.3);
}

.font_2 {

	font-family: font97579;
	font-size: 2.5em; 
	color:#FFFFFF;
} 

.font_3 {

	font-family: font97579;
	font-size: 5em; 
	color:#333333;
} 

.font_4 {

	font-family: font97579;
	font-size: 5em; 
	color:#FFFFFF;
} 


.color_head {color: #8495ae;}
.color_25 {color: #8495ae;}

.backcolor_25 {background-color: #BEC7D5;}



.pageFooter{

	height: 100px;
	display: block;
	background-color: black;
	color: #b3b3b3;
	font-size: 1.2em;
	padding: 2%;

}





